:root {
  --bgColor :#F1EEE9 ;
  --bgColor2 : #73777B;
  --textColor : #15133C;
  --highlightColor:#EC994B; 
  box-sizing: border-box;
}
html {
  height: 100%;
}

h1 {
  margin: 0;
  color: var(--bgColor);
  padding: 0.9rem;
  text-shadow: #EC994B 0.05rem 0.05rem;
}

body {
  display: grid;
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}
header {
  text-align: center;
}

.main-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--textColor);
  color: var(--bgColor);
  margin: 0;
}

/* Navabar elements */
a {
  color: var(--textColor);
  text-decoration: none;
}

.main-nav ul li{
  display: inline;
  letter-spacing: 0.02rem;
}

.main-nav li a {
color: var(--bgColor);
}
.main-nav li:hover {
  color: var(--bgColor2);
}

#contact-short {
  background-color: var(--textColor);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 0.4rem;
}

footer img {
 height: 1.2rem;
}

#contact-short a {
  color: var(--bgColor) ;
  display: flex;
  align-items: center;
}

#contact-short img {
  padding-right: 0.4rem;
}
.main-nav ul:last-child li:last-child {
  background-color: var(--highlightColor);
  padding: 0.5rem 1rem;
  color: var(--textColor);
}
.main-nav {
  display: flex;
  flex-flow: column;
}

.intro {
  min-height: 40vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.benefits {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.benefits li{
  list-style-type: circle;
  padding-bottom: 1rem;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #EC994B;
}
#project-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  gap: 1rem;
  padding: 0rem 0.5rem;
}
#gabion-wall {
  background-image: url(/img/gabion-wall.jpg);
}
#foundation {
  background-image: url(/img/foundation.jpg);
}
#floor-epoxy {
  background-image: url(/img/floor-epoxy.jpg);
}
#bitumen-road {
  background-image: url(/img/bitumen-road.jpg);
}
#special-foundation {
  background-image: url(/img/special-foundation.jpg);
}
#concrete-road {
  background-image: url(/img/concrete-road.jpg);
}
#thermoplastic-paint-parking {
  background-image: url(/img/thermoplastic-paint-plastic.jpg);
}
#mass-concrete {
  background-image: url(/img/mass-concrete.jpg);
}
#project-grid p {
  display: inline-block;
  height: 300px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 1.5rem;
}
/* Article elements */
article h2 {
  text-align: center;
  font-size: 1.45rem;
}
p {
  text-align: center;
}

article ul li {
  list-style-position: inside;
}

/* Logo */
.on-scroll {
  background-color: red;
}

/* Client showcase */

.client-logos {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.client-logos img {
  padding: 0.4rem;
  height: 3rem;
}

header{
  background-color: var(--textColor);
}