:root {
  --bgColor :#F1EEE9 ;
  --bgColor2 : #73777B;
  --textColor : #15133C;
  --highlightColor:#EC994B; 
}
html {
  height: 100%;
}

h1 {
  margin: 0;
  color: var(--bgColor);
  padding: 0.9rem;
}

body {
  grid-template-columns: 3fr 6fr;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
header {
  text-align: center;
  grid-area: logo;
}

.main-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: nav;
  background-color: var(--textColor);
  color: var(--bgColor);
  margin: 0;
}

/* Navabar elements */
a {
  color: var(--textColor);
  text-decoration: none;
}

.main-nav ul li{
  display: inline;
  letter-spacing: 0.02rem;
}

.main-nav li a {
color: var(--bgColor);
}
.main-nav li:hover {
  color: var(--bgColor2);
}
.main-nav ul:last-child li:last-child {
  background-color: var(--highlightColor);
  padding: 0.5rem 1rem;
  color: var(--textColor);
}
.main-nav {
  display: flex;
  flex-flow: column;
  grid-area: nav;
}
.intro {
  grid-area: intro;
}

.benefits {
  grid-area: benefits;
}
/* Article elements */
article h2 {
  text-align: center;
  font-size: 1.45rem;
}
p {
  text-align: center;
}

article ul li {
  list-style-position: inside;
}

/* Logo */
.on-scroll {
  background-color: red;
}

/* Client showcase */

.client-logos {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.client-logos img {
  padding: 0.4rem;
  height: 3.5rem;
}

header{
  background-color: var(--textColor);
}